body {
  background-color: #f3d7ca;
  font-family: "Merienda", cursive;
}
footer {
  border-top: 1px solid #f3d7ca;
  font-size: 12px;
  padding: 30px 0 0 0;
  text-align: center;
}
main {
  padding: 30px 0;
}
a {
  color: #c86b85;
}
.yogi-weather {
  background: #f5eee6;
  border-radius: 25px;
  margin: 40px auto;
  max-width: 600px;
  padding: 30px;
}
.search-form {
  margin-top: 15px;
}

.city {
  background-color: #f3d7ca;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  padding: 17px 20px;
  width: 76%;
}
.submit-button {
  background-color: #c86b85;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  margin-left: 5px;
  padding: 17px 41px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.weather-app-temperature-container {
  display: flex;
}
.weather-app-details {
  font-size: 16px;
  line-height: 24px;
}
.weather-app-details strong {
  color: #c86b85;
}
.weather-app-icon {
  width: 90px;
  height: 90px;
}
.weather-app-temperature {
  font-size: 90px;
  font-weight: lighter;
  margin-left: 8px;
  margin-top: -30px;
}
.weather-app-unit {
  margin-top: -4px;
  font-size: 28px;
}
.meditation-sentence {
  font-size: 12px;
  margin-bottom: 30px;
  margin-top: -15px;
  text-align: center;
}
.weather-forecast {
  margin: 20px auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.weather-forecast-date {
  color: #c86b85;
  font-size: 16px;
  font-weight: bolder;
}
.weather-forecast-temperatures {
  font-size: 13px;
  color: #e6a4b4;
}
.weather-forecast-temperature-min {
  opacity: 0.8;
}
